@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family:"Fredoka One";
  font-size: 2.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.Container {
  display: block;
  font-family: 'Signika';
  font-weight: 500;
    overflow-y: hidden;
  /* padding: 10px; */
}
  
.UsersCard {
  margin: 5px 20px;
}
footer.footer {
  display: flex !important;
  /* margin-bottom: 31px; */
  margin-top: 0.8em;
}
.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl.MuiInputBase-multiline.MuiFilledInput-multiline {
  width:78vw;
}
footer.StickyFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  /* border-top: solid 1px #efefef; */
}
  
.MessageForm {
  margin-left: 10px;
}
  
.MessageBox {
  float: left;
  width: 98%;
  margin: 5px 0 0 2%;
}
  
.MessageBox .ChatMessage {
  width: 80%;
  min-height: 40px;
}
  
.MessageBox .ChatMessage .RightBubble {
  position: relative;
  background: #dcf8c6;
  width:max-content;
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 5px 10px 10px;
  left: 15%;
  margin-left:auto;
}
  
.MessageBox .ChatMessage .RightBubble span.MsgName {
  font-size: 12px;
  font-weight: bold;
  color: green;
}
.MessageBox .ChatMessage .RightBubble span.MsgDate {
  font-size: 10px;
}
  
.MessageBox .ChatMessage .RightBubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 13px;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  border-top: 0;
  margin-top: -13.5px;
  margin-right: -27px;
}
.MessageBox .ChatMessage .LeftBubble {
  position: relative;
  background: lightblue;
  width:max-content;
  border-top-right-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 5px 10px 10px;
  left: 5%;
}
.MessageBox .ChatMessage .LeftBubble span.MsgName {
  font-size: 12px;
  font-weight: bold;
  color: blue;
}
.MessageBox .ChatMessage .LeftBubble span.MsgDate {
  font-size: 10px;
}
.MessageBox .ChatMessage .LeftBubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-right-color: lightblue;
  border-left: 0;
  border-top: 0;
  margin-top: -13.5px;
  margin-left: -27px;
}
  
.MessageBox .ChatStatus {
  min-height: 49px;
  text-align: center;
}

.MessageBox .ChatStatus .ChatDate {
  display: block;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: #777;
  height: 15px;
  left: 10%;
  right:10%;
}
  
.MessageBox .ChatStatus .ChatContentCenter {
  padding: 5px 10px;
  background-color: #e1e1f7;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  color: #555;
  height: 34px;
  left: 10%;
  right:10%;
}

.ChatContent {
  
  height: 90vh;
}

/* input group style  */
.input-group {
  margin-left: -15px;
}

/* 
Chat romo input  */
.MuiFilledInput-multiline {
  padding: 16px 18px 16px !important;
}
.MuiFilledInput-root {
  position: relative;
  transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 10em !important;
  /* border-top-left-radius: 4px; */
  /* border-top-right-radius: 4px; */
}
ion-icon.md.icon-large.hydrated {
  height: 0.7em;
  width: 0.7em;
}
span.MuiIconButton-label {
  
  /* background: #e7e7e7; */
}

.MuiContainer-root {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

input#message {
  font-family: 'Roboto';
  font-weight: 600;
}
.input-group .btn {
  position: relative;
  z-index: 2;
  border-radius: 46px;
  width: 50px;
  height: 50px;
  margin-right: -25px;
}
.MuiFilledInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  border-radius: 25px;
  /* transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  border-bottom: 0px !important;
  pointer-events: none;
}
.MuiFilledInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  /* transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms; */
  border-bottom: 0px  !important;
  pointer-events: none;
}
/* message */
p.text {
  margin-bottom: 0;
}
/* Message SEND Button css */

/* Other Css */
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined{
  margin-right: -25px;
  border: none;
  
}
img, svg {
  vertical-align: middle;
  
}

/* scroll */
.react-scroll-to-bottom--css-exosq-1n7m0yu {
  height: 90vh !important;
  width : 100% !important;
  overflow-y: hidden !important; 
  
  background-color: #ffffff;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23434343' stroke-width='0' %3E%3Crect fill='%232E2EEC' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
.rce-mbox-text {
  font-family: 'Signika', sans-serif;
  font-weight:600;
}
/* Body Right message */
